footer {
    background: #343a40;
    padding: 40px 10px 10px 10px;
}
footer a {
    color: #f8f9fa!important
}

.card-body p
{
  font-size: 20px;
}

.card-body a
{
  text-decoration: none;
  color: darkblue;
  padding: 10px;
}

.card-body span
{
  margin-top: 5px;
}
